.admin-sidebar {
  width: 260px;
  height: 100vh;
  background-color: #2563eb;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.admin-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-logo img {
  width: 40px;
  border-radius: 12px;
}

.admin-role {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 8px;
}

.admin-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.admin-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 12px 10px;
  border-radius: 8px;
  transition: 0.3s;
}


.admin-link:hover,
.admin-active {
  background-color: rgba(255, 255, 255, 0.15);
}

.admin-logout-btn {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.admin-logout-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
