* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; 
}


body {
  margin: 0;
  background: linear-gradient(135deg, #0142b3, #9ebaee);
  font-family: "Inter", sans-serif;
  color: #000000;
}

.uiContainer {
  display: flex;
  height: 100vh;
   height: calc(100vh - 70px);
  overflow: hidden; 
  padding: 20px 20px 0 20px;
  gap: 20px;
  overflow: hidden; 
}


.uiSidebar {
  width: 270px;
  padding: 20px;
  position: relative;
  left: 15px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
}

.uiSidebarTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.uiChatItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-radius: 14px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}

.uiChatItem:hover {
  background: rgba(255, 255, 255, 0.4);
}

.uiChatItem.active {
  background: #4a7dfc;
  color: white;
}

.uiChatItem.active p {
  color: #f2f2f2 !important;
}

.uiChatIcon {
  font-size: 22px;
}

.uiChatItem p {
  margin: 0;
  font-size: 13px;
  color: #000000;
}

.uiChatMain {
  flex: 1;
  display: flex;
  position: relative;
  left: 12px;
  flex-direction: column;
  min-height: 0; 
  background: white;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
}


.uiChatHeader {
  padding: 20px;
  border-bottom: 1px solid #eee;
  background: #fafafa;
}

.uiChatHeader h3 {
  margin: 0;
  font-weight: 600;
}

.uiChatBody {
  flex: 1;
  overflow-y: auto; 
  padding: 25px;
  min-height: 0; 
}


.uiMsgRow {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 20px;
}

.uiAvatar {
  width: 38px;
  height: 38px;
  background: #001f6e;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.uiBubble {
  background: #f6f7fb;
  padding: 14px 18px;
  border-radius: 14px;
  max-width: 60%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  line-height: 1.4;
}

.uiMsgRow.sent {
  justify-content: flex-end;
}

.uiMsgRow.sent .uiBubble {
  background: #3f86f0;
  color: white;
  border-bottom-right-radius: 4px;
}


.uiInputArea {
  padding: 18px;
  border-top: 1px solid #eee;
  background: #fafafa;
  display: flex;
  gap: 10px;
}

.uiInputArea input {
  flex: 1;
  padding: 15px 18px;
  border: none;
  border-radius: 14px;
  background: #f0f2f6;
  outline: none;
  font-size: 15px;
}

.uiInputArea button {
  padding: 15px 22px;
  border: none;
  background: #045cc0;
  color: white;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.uiInputArea button:hover {
  background: #3868d9;
}
