/* ======== LAYOUT PRINCIPAL ======== */
.ponto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  height: 91vh;
  background: linear-gradient(135deg, #0a0a0a, #111827);
  color: white;
  font-family: "Poppins", sans-serif;
}

/* ======== MÁQUINA MODERNA ======== */
.maquina-nova {
  width: 330px;
  height: 300px;
  background: rgba(20, 20, 30, 0.85);
  border: 2px solid rgba(80, 150, 255, 0.3);
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 0 25px rgba(90, 150, 255, 0.4);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.titulo {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-shadow: 0 0 6px #4fa3ff;
}

.visor {
  background: #000;
  padding: 15px;
  border-radius: 12px;
  box-shadow: inset 0 0 10px #4fa3ff;
}

.label {
  font-size: 12px;
  color: #94a3b8;
}
.hora-visivel {
  display: block;
  font-family: monospace;
  font-size: 28px;
  margin-top: 5px;
  color: #4fa3ff;
}

.leitor-novo {
  width: 120px;
  height: 50px;
  background: linear-gradient(90deg, #4fa3ff, #2563eb);
  margin: 30px auto 0;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(80, 150, 255, 0.7);
}

/* ======== CARTÃO ÚNICO ======== */
.cartao-unico {
  width: 140px;
  height: 200px;
  background: white;
  color: #003f7f;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  cursor: pointer;
  position: absolute;
  top: 70%; /* começa mais abaixo, mas no meio da tela */
  left: calc(50% + 220px);
  transform: translateX(-50%);
  transition: transform 1s ease, bottom 1s ease;
}

.foto-user {
  width: 80%;
  height: 55px;
  background: #2563eb;
  border-radius: 10px;
}

.logo-cartao {
  width: 55px;
  margin-top: 20px;
}

.nome-user {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
}

/* ======== ANIMAÇÃO CARTÃO SUBINDO ======== */
.cartao-unico.animando {
  animation: subirEBater 2.6s ease-in-out;
}

@keyframes subirEBater {
  0% {
    transform: translate(-50%, 180px) scale(0.95);
    opacity: 0;
  }

  /* Subindo até o centro */
  35% {
    transform: translate(-50%, -20px) scale(1);
    opacity: 1;
  }

  /* Batida no relógio */
  55% {
    transform: translate(-240px, -80px) rotate(-6deg);
  }

  75% {
    transform: translate(-250px, -70px) rotate(4deg);
  }

  /* Volta para o centro */
  100% {
    transform: translate(-50%, -20px) rotate(0);
  }
}
